body{
    display: grid;
    text-decoration-color: black;
    margin: 0.3% 0% 5%;
    font-family: 'Yusei Magic', sans-serif;
}

h1,h2{
    font-family: 'Shadows Into Light Two', cursive;
}

button {
    background-color: #ff5757;
    font-family: 'Yusei Magic', sans-serif;
    font-size: smaller;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:2px;
    cursor: pointer;
}
#NavMenu{
    margin-bottom: 0.3%;
    border-bottom: 2px solid #ff5757;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#IntroductionRow{
    border-top: 2px solid #ff5757;
    margin-top: 0.3%;
}

#playerName{
    background: white;
    color: black;
    font-size: larger;
    font-family: 'Acme', sans-serif;
}

#buttonHome{
    margin: 2%;
    border: 2px solid black;
    color: black;
    background: white;
}

input{
  border-radius: 5px;
    background:white;
  border: 2px solid black;
  color: black;
    font-family: 'Yusei Magic', sans-serif;
    font-size: smaller;
    padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:2px;
  cursor: pointer;

}
a{
  background-color: #ff861a;
  border-radius: 5px;
  border: none;
  color: white;
    padding: 4px 6px;
    font-weight: bold;
    font-size: small;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    margin:2px;
  cursor: pointer;
}

select{
  background-color: #ff5757;
  border: none;
  color: white;
    font-family: 'Yusei Magic', sans-serif;
    font-size: smaller;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  cursor: pointer;
}
#buttonQrCode{
    float:right;
}
#accessabilityDiv{
    float:right;
}

#WelcomeRow{
    background-image: url("mainImg/sfondoCarta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.homeSidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.leftSidenav {
    left: 0;
}

#qrCodeRow{
    display: flex;
    justify-content: right;
}

#jumboMain{
    text-align:center;

}


#introduction{
    text-align:center;
}

#age{
    text-align:center;
}


#story{
    text-align:center;
}
#endStory{
  text-align: center;
}
#imageStory{
    text-align: center;
}

#playerTable{
  text-align: center;
}

.playerCard{
    border-color: #ff5757;
    margin-right: 1%;
    border-width: medium;
    border-style: solid;
    border-radius:5px;
    padding:1%;
}
.card {
    display:inline-block;
    background-color: white;
}

.sizeCard{

    border: 3px solid black;
    border-radius: 50%;
    padding-top:5px;

}

div.card-body p{
    color: black;
    font-family: 'Yusei Magic', sans-serif;
}

#playerName{
    bottom-padding:20px;
}
#players{
    text-align:center;
}

#loginRef{
    color:white;
    font-size:15px;
    cursor:pointer;

}

#textStory{

    text-align:center;
    margin:2%;
}
#titlePlayer{

    text-align:center;
}

#buttonsStory{

    text-align:center;
}

#imgScore{
    text-align:center;
    max-width: fit-content;
    display: block;
    margin: auto;
}

#divButtonReload{
    text-align:center;
}

.hidden {
  display: none !important;
}
