body{
  text-decoration-color: black;
  margin:0;
  font-family: 'Yusei Magic', sans-serif;
}

#main{
  display: grid;
  border-top: 2px solid #03989e;
  padding-top: 0.3%;
}

h1,h2,h3{
  font-family: 'Shadows Into Light Two', cursive;
}

#WelcomeRow{
  background-image: url("ImageCreate/sfondoCarta.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#UnderWelcome{
  border-top: 2px solid #03989e;
  margin-top: 0.3%;
}

select{
  background-color: #03989e;
  border: none;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: smaller;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

button{
  background-color: #03989e;
  font-family: 'Yusei Magic', sans-serif;
  font-size: smaller;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:2px;
  cursor: pointer;
}

#btn_player{
  border-radius: 5px;
  background:white;
  border: 2px solid black;
  color: black;
  font-family: 'Yusei Magic', sans-serif;
  font-size: smaller;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:2px;
  cursor: pointer;
}

#selectImage{
position: left;

}

.sidenavGraph {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(4, 44, 4);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  }

  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;

    }
    .nested {
    display: none;
    }

    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(5, 5, 5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

    

    .hidden{
    display: none;

    }

    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }

    .sidenav a:hover {
    color: #f1f1f1;
    }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 80%;
    font-size: 36px;
    margin-left: 50px;
    }

    .leftSidenav {
	left: 0;
    }